/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
    margin: 0; /* Ajout */
}

:root { /* Permet de cibler la racine de l'arbre représentant le document, donc dans ce cas la balise <html>.
    Utile lorsqu'on déclare des propriétés css globales (ici, les couleurs de la charte) */
    --main-color: #0065FC; /* Propriété personnalisée contenant une valeur qui pourra être réutilisée dans le document grâce à la fonction var() */
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

.main-container { /* englobe les balises <header>, <main> et <footer> pour définir les dimensions de la page */
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box; /* Permet de spécifier si la marge intérieure (padding) et la bordure (border) d'un élément doivent compter dans sa dimension réelle */
    /* La valeur border-box fait que même en rajoutant un padding, l'élément padding compris rester toujours de même dimension (la place pour le contenu diminue) */
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Header ********/
.logo-header {
    width: 61px; /* Responsive ? */
    height: 19px; /* Responsive ? */
    padding: 30px 0 30px 0;
}

header {
    display: flex;
    justify-content: space-between;
}

header ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    font-size: 16px; /* Responsive ? */
    font-weight: 400;
    gap: 68px; /* Responsive ? */
}

header a {
    padding-top: 20px;
}

header a:hover {
    border-top: var(--main-color) solid 2px; /* La bordure doit être dessous en version mobile */
    color: var(--main-color)
}

/****** Trouver hébergement ***********/
h1 {
    font-size: 22px; /* Responsive ? */
    font-weight: 700;
    margin: 30px 0 8px 0;
}

.trouver-hebergement p {
    font-size: 16px; /* Responsive ? */
    font-weight: 400;
}

.searchbar {
    margin: 35px 0 35px 0;
}

.fa-location-dot {
    color: black;
    font-size: 18px;
    background-color: var(--main-bg-color);
    border: 1px solid var(--main-bg-color);
    border-radius: 15px 0 0 15px;
    padding: 15px 18px 15px 18px;
}

.search-field {
    font-size: 18px; /* Responsive ? */
    font-weight: 700;
    text-align: center;
    padding: 15px 0 15px 0;
    border: none;
    border-top: 1px solid var(--main-bg-color);
    border-bottom: 1px solid var(--main-bg-color);
}

.submit-button {
    color: white;
    background-color: var(--main-color);
    border: 1px solid var(--main-color);
    font-size: 18px; /* Responsive ? */
    font-weight: 700;
    text-align: center;
    padding: 15px 16px 15px 16px;
    border-radius: 0 15px 15px 0;
}

/****** Filtres ***********/
.filterbar {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 30px;
}

.filterbar p {
    font-size: 18px;
    font-weight: 700;
}

.filters { /* A revoir */
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.filter-group {
    display: flex;
    gap: 10px;
}

.filter-option {
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 2px solid var(--main-bg-color);
    border-radius: 25px;
    gap: 10px;
    padding: 0 19px 0 19px;
}

.filter-option:hover {
    background-color: var(--filter-bg-color);
}

.filter-option p {
    font-size: 18px;
    font-weight: 700;
}

.infobar {
    display: flex;
    margin-bottom: 30px;
}

.fa-info {
    width: 24px;
    height: 24px;
    text-align: center;
    border: 1px solid var(--main-bg-color);
    border-radius: 50px;
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}




/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
}