/****** General ******/
* {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    box-sizing: border-box;
}

:root { /* Permet de cibler la racine de l'arbre représentant le document, donc dans ce cas la balise <html>.
    Utile lorsqu'on déclare des propriétés css globales (ici, les couleurs de la charte) */
    --main-color: #0065FC; /* Propriété personnalisée contenant une valeur qui pourra être réutilisée dans le document grâce à la fonction var() */
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

.main-container { /* Pour donner une largeur maximale au conteneur principal qui englobe <header>, <main> et <footer> */
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 1.375rem;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 1rem;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Header ******/
.logo-header {
    width: 61px;
    height: 19px;
    padding: 30px 0;
    box-sizing: content-box;
}

header {
    display: flex;
    justify-content: space-between;
}

header ul {
    list-style-type: none;
    padding-left: 0;
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
    font-weight: 400;
    gap: 4.25em;
}

header li {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 35px;
}

header li:hover {
    border-top: var(--main-color) solid 2px;
    color: var(--main-color);
}

/****** Trouver hébergement ******/
h1 {
    font-size: 1.375rem;
    font-weight: 700;
    margin: 30px 0 8px 0;
}

h1 + p {
    font-size: 1rem;
}

.searchbar {
    display: flex;
    margin: 35px 0 35px 0;
    font-size: 1.125rem;
}

.fa-location-dot {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    height: 49px;
    min-width: 50px;
    background-color: var(--main-bg-color);
    border-radius: 15px 0 0 15px;
}

.search-field {
    font-weight: 700;
    text-align: center;
    height: 49px;
    border-right: none;
    border-left: none;
    border-top: 1px solid var(--main-bg-color);
    border-bottom: 1px solid var(--main-bg-color);
    position: relative;
    left: -5px;
}

.submit-button-1 {
    color: white;
    background-color: var(--main-color);
    border: 1px solid var(--main-color);
    font-weight: 700;
    text-align: center;
    height: 49px;
    padding: 0 18px;
    border-radius: 0 15px 15px 0;
    position: relative;
    left: -15px;
}

.fa-magnifying-glass {
    color: white;
}

.submit-button-2 {
    background-color: var(--main-color);
    border: 1px solid var(--main-color);
    text-align: center;
    height: 49px;
    min-width: 50px;
    border-radius: 15px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    position: relative;
    left: -15px;
    display: none;
}

/****** Filtres ******/
.filterbar {
    display: flex;
    align-items: center;
    font-size: 1.125rem;
    font-weight: 700;
    gap: 0.833em;
    margin-bottom: 30px;
}

.filters {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.556em;
}

.filter-group {
    display: flex;
    gap: 0.556em;
}

.filter-option {
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 2px solid #d9d9d9;
    border-radius: 25px;
    gap: 0.556em;
    padding: 0 19px;
}

.filter-option p {
    font-size: 0.945em;
}

.filter-option:hover {
    background-color: var(--filter-bg-color);
}

.infobar {
    font-size: 1rem;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    gap: 0.556em;
}

.fa-info {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.75em;
    min-width: 24px;
    min-height: 24px;
    border: 1px solid #d9d9d9;
    border-radius: 50px;
}

/****** Hebergements And Populaires ******/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    border-radius: 20px;
    padding: 30px;
}

/****** Hebergements ******/
.hebergements {
    background-color: var(--main-bg-color);
    width: 65%;
}

.hebergements-cards {
    display: flex;
    flex-direction: column;
}

.cards-group {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.cards-group a {
    width: 30%;
    margin-top: 33px; /* Margin top appliqué ici et non pas sur la card directement, car sinon le lien cliquable l'englobe aussi */
}

.hebergements-cards .card {
    height: 207px;
    display: flex;
    flex-direction: column;
}

.hebergements-cards img {
    height: 60%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.hebergements-cards .card-content {
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 8px;
}

.hebergements-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.hebergements-cards .card-subtitle {
    margin: 0;
    font-size: 0.875rem;
}

.hebergements-cards .card-rating {
    margin-bottom: 5px;
}

.afficher-plus {
    display: inline-block;
    font-size: 1.125rem;
    font-weight: 700;
    margin-top: 30px;
}

/****** Populaires ******/
.populaires {
    width: 32%;
    background-color: var(--main-bg-color);
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
    font-size: 0.875rem;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/****** Activités ******/
.activites {
    padding: 30px;
}
    
.activites-cards {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.activites-cards a {
    width: 23%;
    margin-top: 30px;
}
    
.activites-cards .card {
    height: 439px;
    display: flex;
    flex-direction: column;
    padding: 0;
}
    
.activites-cards img {
    height: 87%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
    
.activites-cards .card-title {
    padding: 20px 19px 20px 19px;
}

/****** Footer ******/
footer {
    width: 100%;
    display: flex;
    background-color: var(--main-bg-color);
}

.carre-footer {
    width: 33%;
    display: flex;
    flex-direction: column;
    padding: 30px;
}

.carre-footer h2 {
    font-size: 1.125rem;
    margin-bottom: 15px;
}

.carre-footer ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    font-size: 1rem;
    padding-left: 0;
    gap: 10px;
}


/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ******/

@media (max-width: 1024px) { /* Medium devices (tablets, less/equal than 1024px) */

    /****** Trouver hébergement ******/


    /****** Filtres *********/

    .filterbar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .filterbar p {
        font-size: 1rem;
    }

    /****** Hebergements And Populaires ******/

    .hebergements-and-populaires {
        flex-direction: column;
    }

    /****** Hebergements ******/

    .hebergements {
        width: 100%;
    }

    .cards-group {
        width: 100%;
    }

    .hebergements-cards .card-title {
        font-size: 0.875rem;
    }

    .hebergements-cards .card-subtitle {
        font-size: 0.813rem;
    }

    /****** Populaires ******/

    .populaires {
        width: 100%;
        margin-top: 30px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards .card { /* Ajout pour corriger un bug d'affichage avec les liens et les marges en version tablette et mobile */
        margin-top: 0;
    }

    .populaires-cards a {
        width: 30%;
        margin-top: 33px; /* Ajout pour corriger un bug d'affichage avec les liens et les marges en version tablette et mobile */
    }

    .populaires-cards .card-title {
        font-size: 0.875rem;
    }

    .populaires-cards .card-subtitle {
        font-size: 0.813rem;
    }

    /****** Activités ******/
    
    .activites-cards h3 {
        font-size: 0.875rem;
    }
    
    .activites-cards .card {
        height: 270px;
    }
    
    .activites-cards img {
        height: 74%;
    }
    
    /****** Footer ******/

}

@media (max-width: 767.98px) { /* Small devices (phones, less than 768px) */

    /****** General ******/

    .main-container {
        padding: 0;
        margin: 0;
    }
    
    section {
        padding: 0 20px;
    }
    
    /****** Header ******/
    
    header {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    header ul {
        gap: 0;
    }
    
    nav {
        width: 100%; 
    }
    
    header li {
        width: 50%;
        text-align: center;
        padding: 20px 0;
        border-bottom: var(--main-bg-color) solid 2px;
    }
    
    header li:hover {
        border-top: none;
        border-bottom: var(--main-color) solid 2px;
    }
    
    /****** Trouver hébergement ******/
    
    form {
        width: 100%;
    }

    .searchbar {
        width: 100%;
    }
    
    .submit-button-1 {
        display: none;
    }
    
    .submit-button-2 {
        display: inline;
    }
    
    /****** Filtres *********/
    
    .filters {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
    }
    
    .filter-group {
        width: 100%;
    }
    
    .filter-group a {
        width: 50%;
    }
    
    .filter-option {
        justify-content: flex-start;
    }

    .filter-option p {
        font-size: 0.8em;
    }
    
    /****** Hebergements and populaires ******/
    
    .hebergements-and-populaires section {
        border-radius: 0;
        margin-top: 0;
    }
    
    /****** Hebergements ******/
    
    .hebergements {
        background-color: white;
        order: 2;
    }
    
    .cards-group {
        flex-direction: column;
    }
    
    .cards-group a {
        width: 100%;
    }
    
    /****** Populaires ******/
    
    .populaires {
        background-color: var(--main-bg-color);
        order: 1;
    }
    
    .populaires-cards {
        flex-direction: column;
        justify-content: space-between;
    }
    
    .populaires-cards a {
        width: 100%;
    }
    
    /****** Activités ******/
    
    .activites-cards {
        width: 100%;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    
    .activites-cards a {
        width: 100%;
    }
    
    .activites-cards .card {
        height: 200px;
    }
    
    .activites-cards img {
        height: 70.5%;
    }

    /****** Footer ******/

    footer {
        display: flex;
        flex-direction: column;
    }

    .carre-footer {
        width: 100%;
    }

}